@import 'main.scss';

@import 'home.scss';
@import 'fade.scss';
@import 'clip.scss';
@import 'with-cover.scss';
@import 'utils.scss';

html {
	font-family: sans-serif;
	background: blue;
	

  }

  body {
	color: black;
  }